/* You can add global styles to this file, and also import other style files */

/* src/styles.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: 
    linear-gradient(to bottom, rgba(30, 10, 45, 0.9), rgba(5, 0, 10, 0.95)),
    url('https://www.transparenttextures.com/patterns/dark-wood.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  color: #fef6e4;
  font-family: 'Georgia', serif;
}
